.sidepanel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  column-gap: 15px;
  transform: rotate(-90deg) translate(-380px, -100px);

  &__links {
    display: flex;
    align-items: center;
    list-style-type: none;

    li {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__divider {
    width: 70px;
    height: 2px;
    background-color: #000;
  }

  &__text {
    height: 23px;
    font-weight: 700;
    font-size: 16px;
    color: #000;
  }
}